<div id="legal-info-container" class="animate__animated animate__fadeInLeft">
    <h2>Aviso legal</h2>
    <ol>
        <li>
            <h4>¿Quién es el Responsable del tratamiento de sus datos?</h4>
            <p>
                La presente política de privacidad(en adelante, la «Política de Privacidad») aplica a todos los datos de
                carácter personal que el usuario aporte a Marala Hostelería S.L, con domicilio
                en Polígono Industrial La Rosa
                Calle Río Tinto, nº6
                29120 Alhaurín el Grande, Málaga (en adelante «Marala») a través de formularios
                online o al realizar una compra ensu página web (en adelante, el «Sitio Web»).<br>

                A los efectos de la presente Política de Privacidad, debe entenderse como “Usuario” a toda persona
                física interesada en los productos y servicios que Marala ofrece a través de su Sitio Web.<br>

                Marala, como responsable del tratamiento, solicitará, con carácter previo a la aportación de sus datos
                de
                carácter personal, el consentimiento expreso del Usuario a la presente Política de Privacidad, cuando
                así resulte necesario y a cualquier otro aspecto que requiera la previa autorización del mismo.<br>

                El Usuario podrá ponerse en contacto con nosotros a través del correo electrónico
                marala@maralahosteleria.com ante cualquier duda o necesidad que tuviere en materia de
                protección de datos.<br>
            </p>
        </li>
        <li>
            <h4>¿Con qué finalidad tratamos sus datos personales?</h4>
            <p>
                Por la presente se informa al Usuario de que Marala tratará los datos de carácter personal que el
                Usuario
                facilite a través de los formularios de contacto y registro de cuenta en el Sitio Web, para las
                finalidades que se indican a continuación, en la medida en que exista una base legal para cada
                tratamiento según se explica más adelante:
            </p>
            <ul>
                <li>
                    Garantizar al Usuario el acceso, y uso del Sitio Web.
                </li>
                <li>
                    Gestionar la relación del Usuario con Marala, incluyendo la gestión de las compras que el Usuario
                    realice en la tienda de Marala así como la participación del Usuario en concursos, promociones y
                    sitios web, aplicaciones informáticas y/o espacios en redes sociales de Marala (en adelante, los
                    «Contenidos»)(incluyendo pero sin limitarse a la verificación de que el Usuario reúne los requisitos
                    necesarios para poder recibir el premio de promoción o concurso y hacer entrega del mismo).
                </li>
                <li>
                    Realizar estadísticas y estudios de mercado, incluyendo el análisis acerca del comportamiento del
                    Usuario en el contexto de su navegación y la creación de perfiles de los Usuarios mediante la
                    integración y el tratamiento conjunto de la información obtenida a través de las cookies o
                    tecnologías similares de cualesquiera Contenidos con la información ya existente sobre el usuario en
                    las bases de datos de Marala o que se obtenga de cualesquiera redes sociales, incluyendo pero sin
                    limitarse a Facebook, Instagram, YouTube, Twitter, LinkedIn, u otros Contenidos, todo ello a efectos
                    de conocer mejor al usuario, realizar estudios de mercado y ofrecerle contenidos y actividades
                    promocionales más personalizados.
                </li>
                <li>
                    Informar al Usuario por cualquier medio, incluyendo el envío de comunicaciones comerciales a la
                    dirección de correo electrónico que el Usuario en su caso facilite, de productos y servicios de
                    Marala similares a los adquiridos por el Usuario.
                </li>
                <li>
                    Realizar actividades promocionales acerca de otros productos, actividades y servicios tanto de
                    Marala
                    como de terceros, incluyendo el envío de comunicaciones comerciales electrónicas o no,a la dirección
                    de correo electrónico que el Usuario en su caso facilite o que Marala haya obtenido a través de la
                    información de navegación del Usuario, en caso de que éste preste su consentimiento.

                </li>
            </ul>
        </li>
        <li>
            <h4>¿Cuál es la legitimación para el tratamiento de sus datos personales?</h4>
            <p>
                La base legal para el tratamiento de los datos para las finalidades .a y .b es la ejecución del contrato
                de prestación de servicios y/o de compraventa de los productos correspondientes.<br>

                La base legal para el tratamiento de los datos para las finalidades .c, .d y .e es el consentimiento que
                se solicita al Usuario, sin que en ningún caso la retirada delmismocondicione la ejecución del contrato
                de prestación de servicios.<br>

                En caso de que el Usuario tenga interés en acceder a servicios particulares condicionados al previo
                registro, incluyendo pero sin limitarse a participar en concursos, “porras”, promociones, foros,
                encuestas, realizar compras o contratar servicios, y otras actividades de Marala, o participar en los
                servicios que ofrece Marala, así como enviar vídeos, imágenes y otro tipo de materiales, recibir
                información de las promociones o contactar conMarala, el Usuario deberá cumplimentar los formularios de
                petición de datos personales o aquellos otros medios para la adhesión por el usuario a los servicios
                particulares que en cada caso se ofrezcan a través de los Contenidos. Sin perjuicio de lo contemplado en
                la presente Política de Privacidad, en todos esos casos serán de aplicación preferente la política de
                privacidad en cada caso establecida y comunicada al Usuario por Marala, en el momento de rellenar los
                formularios de registro, encuestas, bases reguladoras del concurso o promoción y/o cualesquiera otras
                condiciones de los servicios particulares. Lo expuesto en esta política se aplicará en esos casos de
                manera complementaria (en todo lo que no se contradiga, en cuyo caso se aplicará siempre lo establecido
                en el caso particular de dichas promociones/servicios/concursos).<br>

                Marala, en el momento de proporcionar sus datos personales,recogerá y tratará los imprescindibles para
                el
                registro, acceso al espacio personal del Usuario y contacto con el equipo de Atención al Cliente de
                Marala. En el caso de que el Usuario decida adquirir uno de los productos o servicios de Marala, o
                participar en sus promociones y/o concursos, Marala recogerá y tratará los datos necesarios (entre
                ellos,
                nombre, apellidos, domicilio, dirección de correo electrónico, etc.) para gestionar el proceso de compra
                y para prestar cualesquiera otros servicios.El Usuario conoce y acepta que la no cumplimentación de
                ciertos datos de carácter personalpodrá impedir a Marala prestar todos aquellos servicios vinculados a
                tales datos.En ningún caso Maralacederá, explotará estos datos o los destinará a un uso distinto del
                aquí
                indicado expresamente. Durante el proceso de registro y la cumplimentación del formulario de contacto,
                el Usuario será informado del carácter no obligatorio de la recogida de algunos de los datos para la
                prestación de los servicios de Marala.<br>

                El Usuario podrá proporcionar voluntariamente información adicional en determinados apartados de la web
                de Marala. La decisión de suministrar dicha información es exclusivamente del propio Usuario. No
                obstante, Maralarecomienda al Usuario que no proporcione más información de la necesaria de acuerdo con
                los fines para los que utilice los servicios.<br>

                Además Marala podrá tratar datos de geolocalización para una correcta prestación de los servicios que se
                ofrece a través de la web, entre los que se encuentran (i) la localización de tiendas, (ii) el cálculo
                de los gastos de envío, y (iii) la personalización de servicio.En este caso se enviará una notificación
                al Usuario permitiéndole aceptar o no dicha funcionalidad.
            </p>
        </li>
        <li>
            <h4>¿Por cuánto tiempo conservamos sus datos personales?</h4>
            <p>
                Marala conservará los datos de los Usuarios durante la relación contractual con el usuario y, en todo
                caso, durante un período máximo de siete años a partir de la última vez que Usuario haya interactuado
                con Marala, sin perjuicio de la conservación que resultase necesaria para la formulación, el ejercicio o
                la defensa de potenciales reclamaciones y/o siempre que lo permitiese la legislación aplicable. Una vez
                finalizado el mencionado plazo, la Compañía se compromete a cesar el tratamiento de todos sus datos, así
                como a bloquearlos debidamente en las correspondientes bases de datos de la Compañía.
            </p>
        </li>
        <li>
            <h4>¿Quién tiene acceso a sus datos personales?</h4>
            <p>
                Una óptima prestación del servicio que Marala ofrece a través de su página web puede requerir que
                terceros proveedores de confianza de Marala accedan a los datos personales del Usuario, como encargados
                del tratamiento, bajo su control y en la medida en que sea estrictamente necesario para la prestación de
                los servicios contratados con los mismos. Tales encargados del tratamiento operan bajo un contrato de
                servicios en los términos, condiciones y garantías contenidas en el RGPD, realizando Marala los
                controles, inspecciones y auditorías correspondientes en este ámbito para comprobar que tales encargados
                del tratamiento cumplen de forma estricta con los contratos suscritos a tal fin y la normativa de
                aplicación.<br>

                Al aceptar la presente Política de Privacidad, el Usuario entiende que algunos de los mencionados
                prestadores de servicios se encuentran en países situados fuera del Espacio Económico Europeo (EEE) y
                que, por tanto, no ofrecen el mismo nivel de protección de los datos personales que en el EEE. En
                particular, el Usuario entiende que Marala ha concluido un contrato con Salesforce.com, inc, encargado
                del tratamiento sito en Estados Unidos, para la prestación del servicio consistente en la gestión de las
                relaciones de Marala con sus usuarios y clientes, así como la puesta a disposición de una plataforma
                para
                fines publicitarios y de marketing.
                En estos casos, Marala ha adoptado las medidas y garantías adecuadas establecidas en este ámbito de
                conformidad con el Reglamento Europeo de Protección de Datos Personales, incluidos acuerdos de
                transferencia de datos basados en las Cláusulas Contractuales Tipo aprobadas por la Comisión Europea.
                Para obtener más información sobre las transferencias internacionales de datos personales y las
                anteriores garantías, puede ponerse en contacto con Marala por los medios establecidos en el siguiente
                apartado.<br>

                Además de lo anterior, el Usuario entiende que Marala podrá realizar cesiones o comunicaciones de datos
                personales para atender sus obligaciones con las Administraciones Públicas en los casos que así se
                requiera de acuerdo con la legislación vigente en cada momento y en su caso, igualmente a otros órganos
                como Fuerzas y Cuerpos de Seguridad del Estado y a los órganos Judiciales.
            </p>
        </li>
        <li>
            <h4>¿Cuáles son los derechos de los usuarios?</h4>
            <p>
                Marala informa al Usuario sobre la posibilidad que le asiste de ejercitar gratuitamente los derechos de
                acceso, rectificación, oposición, supresión, portabilidad y limitación del tratamiento, así como a
                rechazar el tratamiento automatizado, de los datos personales mediante solicitud escrita y firmada
                dirigida a la siguiente dirección: Dpto. Asesoría Jurídica, c/ Titán 15, 28045, Madrid o a través del
                formulario de Servicio de Atención al Cliente. A tales efectos, el Usuario deberá enviar dicha
                comunicación escrita indicando la petición o derecho que ejercita, nombre y apellidos, domicilio a
                efectos de notificaciones, junto con una copia de su DNI o documento válido que acredite su
                identidad(fotocopia del pasaporte). En el caso de representación, deberá probarse la misma mediante
                documento válido. Asimismo, el Usuario también puede ejercitar sus derechos enviando una fotocopia de su
                D.N.I. (o pasaporte) por las dos caras a través del formulario «Contacta con nosotros», si existe.<br>

                El Usuario tiene derecho a oponerse al tratamiento de sus datos con fines promocionales para la
                recepción de comunicaciones comerciales con la simple notificación de su voluntad a Marala. Para ello,
                el
                Usuario podrá dirigir su solicitud mediante el procedimiento descrito en el párrafo anterior. Asimismo,
                el Usuario podrá cancelar la recepción de comunicaciones comerciales según la forma prevista en cada
                comunicación comercial (por ejemplo, a través del enlace incluido en cada una de ellas).<br>

                Además de los anteriores derechos, el Usuario tendrá derecho a retirar el consentimiento otorgado en
                cualquier momento mediante el procedimiento más arriba descrito, sin que dicha retirada de
                consentimiento afecte a la licitud del tratamiento anterior a la retirada del mismo. Marala podrá
                continuar tratando los datos del Usuario en la medida en que la ley aplicable lo permita.<br>

                Marala recuerda al Usuario que tiene derecho a presentar una reclamación ante la Agencia Española de
                Protección de Datos.
            </p>
        </li>
        <li>
            <h4>¿A partir de qué edad puede el Usuario acceder a nuestros productos y servicios?</h4>
            <p>
                El Sitio Web no se dirige a menores de 18 años con la única excepción del caso de la web de Aguas Solán
                de Cabras, S.A..En este sentido, queda prohibida la entrada y registro en los Contenidosa los menores de
                18 años. Al aceptar la presente Política de Privacidad el Usuario declara y garantiza que es mayor de 18
                años. Si el Usuario es menor de edad, no debe facilitar ningún dato.No podemos ni queremos recopilar
                datos de carácter personal de ninguna persona menor de edad, ni hacer promoción alguna, incluyendo
                promocionar cualquier tipo de bebida alcohólica a personas que no tengan la edad legal para comprarla.
                SiMarala tiene constancia de que un menor de edad ha proporcionado datos de carácter personal, habiendo
                falseado los requerimientos previos (fecha de nacimiento al acceder) procederemos a cancelar esos datos
                personales de nuestros ficheros. Los padres o tutores podrán en cualquier caso dirigirse a Maralapara
                bloquear la cuenta de acceso de los menores a su cargo que se hubieran registrado falseando su
                identidad.
            </p>
        </li>
        <li>
            <h4>Calidad de los datos</h4>
            <p>
                Marala advierte al Usuario de que, salvo en los casos de representación legalmente constituida y
                acreditada, ningún Usuario puede utilizar la identidad de otra persona y comunicar sus datos personales,
                por lo que el Usuario en todo momento deberá tener en cuenta que solo puede aportar datos personales
                correspondientes a su propia identidad y que sean adecuados, pertinentes, actuales, exactos y
                verdaderos. A tales efectos, el Usuario será el único responsable frente a cualquier daño, directo y/o
                indirecto, que cause a terceros o a Marala por el uso de datos personales de otra persona, o sus propios
                datos personales cuando sean falsos, erróneos, no actuales, inadecuados o no pertinentes. Igualmente, el
                Usuario que comunique los datos personales de un tercero, responderá ante éste de la obligación de
                información para cuando los datos de carácter personal no hayan sido recabados del propio interesado,
                y/o de las consecuencias de no haberle informado y en su caso, obtenido su consentimiento.<br>

                En el caso de que el Usuario proporcione algún dato personal de terceras personas, se compromete a
                informar previamente a estas personas de la intención de comunicar sus datos a Maralay a obtener su
                consentimiento previo, expreso y por escrito para dicho tratamiento de datos y cualesquiera finalidades
                para las que se fuesen a tratar, siendo responsable el Usuario en caso contrario.<br>

                El Usuario es la única fuente de información de sus datos personales, por lo que Maralale ruega que, con
                el fin de mantener sus datos actualizados y puestos al día en todo momento de acuerdo con los principios
                del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la
                protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre
                circulación de estos datos y por el que se deroga la Directiva 95/46/CE (RGPD), comunique cualquier
                variación de los mismos a la dirección c/ Titán 15, 28045, Madrid o seleccionando la opción
                correspondiente en el apartado «Contacta con nosotros» de los Contenidos, si existe. Se recuerda al
                Usuario que para proceder a la actualización de sus datos es necesario que acredite su identidad
                aportando fotocopia de su D.N.I. o documento equivalente.
            </p>
        </li>
        <li>
            <h4>Uso de cookies</h4>
            <p>
                Nuestra página web utiliza cookies para distinguirle a usted de los demás usuarios de nuestro sitio web,
                lo que nos ayuda a proporcionarle una buena experiencia cuando navega por nuestro sitio web y nos
                permite asimismo mejorarlo. Puede obtener más información sobre el uso de cookies en este sitio web en
                la Política de Cookies.
            </p>
        </li>
        <li>
            <h4>Links</h4>
            <p>
                El Sitio Web puede incluir hipervínculos a otros sitios que no son operados o controlados por Mahou. Por
                ello,Mahou no garantiza, ni se hace responsable de la licitud, fiabilidad, utilidad, veracidad y
                actualidad de los contenidos de tales sitios web o de los tratamientos de datos que lleven a cabo. Por
                favor antes de proporcionar su información personal a estos sitios web ajenos aMahou, tenga en cuenta
                que su cumplimiento en materia de protección de datos puede diferir del nuestro.
            </p>
        </li>
        <li>
            <h4>Modificación de la Política de Privacidad</h4>
            <p>
                Mahou podrá modificar su Política de Privacidad de acuerdo con la legislación aplicable en cada momento.
                En todo caso, le informaremos de cualquier modificación de la Política de Privacidad que tenga un
                impacto relevante para su privacidad, y la protección de sus datos, ley, en caso de que la normativa
                aplicable así lo exija, le daremos la posibilidad de otorgar nuevamente su consentimiento.
            </p>
        </li>
    </ol>
</div>