<div id="legal-info-container" class="animate__animated animate__fadeInLeft">
    <h2>{{'legal warning' | translate}}</h2>
    <ol>
        <li>
            <h4>{{'ol1_li1_pr' | translate}}</h4>
            <p>{{'ol1_li1_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li2_pr' | translate}}</h4>
            <p>{{'ol1_li2_p_pr' | translate}}</p>
            <ul>
                <li>{{'ol1_li2_ul1_li1_pr' | translate}}</li>
                <li>{{'ol1_li2_ul1_li2_pr' | translate}}</li>
                <li>{{'ol1_li2_ul1_li3_pr' | translate}}</li>
                <li>{{'ol1_li2_ul1_li4_pr' | translate}}</li>
                <li>{{'ol1_li2_ul1_li5_pr' | translate}}</li>
            </ul>
        </li>
        <li>
            <h4>{{'ol1_li3_pr' | translate}}</h4>
            <p>{{'ol1_li3_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li4_pr' | translate}}</h4>
            <p>{{'ol1_li4_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li5_pr' | translate}}</h4>
            <p>{{'ol1_li5_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li6_pr' | translate}}</h4>
            <p>{{'ol1_li6_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li7_pr' | translate}}</h4>
            <p>{{'ol1_li7_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li8_pr' | translate}}</h4>
            <p>{{'ol1_li8_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li9_pr' | translate}}</h4>
            <p>{{'ol1_li9_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>Links</h4>
            <p>{{'ol1_li10_p_pr' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li11_pr' | translate}}</h4>
            <p>{{'ol1_li11_p_pr' | translate}}</p>
        </li>
    </ol>
</div>