<div id="loginContainer">

    <h2>Inicia sesión</h2>
    <div class="grid p-fluid">

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Correo electrónico</span>
            <input type="email" pInputText>
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Contraseña</span>
            <input type="password" pInputText>
        </div>

        <div class="p-inputgroup">
            <p-button label="Entrar"></p-button>
        </div>

    </div>

</div>