<div id="registerContainer">

    <h2>Registro</h2>

    <div class="grid p-fluid">

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Nombre</span>
            <input type="text" pInputText>
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Apellidos</span>
            <input type="text" pInputText>
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Correo electrónico</span>
            <input type="text" pInputText>
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Dirección</span>
            <input type="text" pInputText>
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Contraseña</span>
            <input type="password" pPassword promptLabel="Ingresa tu contraseña" weakLabel="Débil" goodLabel="Buena"
                strongLabel="Fuerte">
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Repite contraseña</span>
            <input type="password" pPassword promptLabel="Ingresa tu contraseña" weakLabel="Débil" goodLabel="Buena"
                strongLabel="Fuerte" />
        </div>

        <div class="p-inputgroup">
            <p-button label="Entrar"></p-button>
        </div>


    </div>

</div>