<div class="animate__animated animate__fadeInLeft">

    <h2>Ven a conocernos!!</h2>
    <div id="map-container">
        <div id="divMap"></div>
        <div id="direction-content">
            <h3>Contacto</h3>
            <hr>
            <p class="p-contact">
                Polígono Industrial La Rosa<br>
                Calle Río Tinto, nº6<br>
                29120 Alhaurín el Grande, Málaga<br>
            </p>

            <p class="p-contact">
                <i class="pi pi-whatsapp"></i>
                666666666
            </p>
            <p class="p-contact">
                <i class="pi pi-phone"></i>
                952666666
            </p>
            <p class="p-contact">
                <i class="pi pi-facebook"></i>
                <a href="https://www.facebook.com/maralahosteleria/" target="blank"> Facebook</a>
            </p>
            <p class="p-contact">
                <i class="pi pi-instagram"></i>
                <a href="https://www.instagram.com/maralahosteleria/" target="blank"> Instagram</a>
            </p>
            <p class="p-contact">
                <i class="pi pi-envelope"></i>
                comercial@maralahosteleria.com
            </p>
        </div>
    </div>


    <div id="contact-form-container">

        <h2>¿Tienes alguna pregunta?</h2>
        <p>Envía tu mensaje y nos pondremos en contacto contigo lo antes posible, y no olvides dejar tu
            correo electrónico para que nos pongamos en contacto contigo!!</p>
        <br>
        <div class="grid p-fluid">

            <input type="email" pInputText placeholder="Introduce tu correo electrónico..." />

            <textarea pInputTextarea rows="15" placeholder="Escribe aquí..." [autoResize]="autoResize"></textarea>

            <div class="p-inputgroup">
                <p-button label="Enviar"></p-button>
            </div>

        </div>

    </div>
</div>