#map-container {
  display: flex;
}

#divMap {
  width: 1000px;
  height: 400px;
  margin-left: 150px;
  margin-right: 50px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 10px;
}

#direction-content {
  margin-top: 70px;
}

h2 {
  width: 400px;
  margin: 0 auto;
}

input {
  margin-bottom: 25px;
}

p-button i {
  margin-right: 15px;
}



#contact-form-container {
  text-align: center;
  width: 50%;
  box-shadow: 0px 0px 5px white;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
  margin-bottom: 50px;
}

textarea {
  margin-bottom: 15px;
  background-color: #304562;
}

@media (max-width: 914px) {
  #contact-form-container {
    width: 90%;
  }

  #divMap {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 50px;

  }
}


@media (max-width: 600px) {

  #contact-form-container {
    width: 90%;
    margin-left: 15px;
    margin-top: 50px;
  }

  textarea {
    height: 150px;
  }

  #map-container {
    display: unset;
    width: 90%;
  }

  h2 {
    width: 90%;
  }

  h3,
  .p-contact {
    margin-left: 15px;
  }
}
