<div class="animate__animated animate__fadeInLeft">
    <div id="contact-form-container">

        <h2>¿Aún no tienes cuenta con Marala Hostelería?</h2>
        <p>
            Si creas cuenta con nosotros podrás ver los precios de los productos, acceder a ofertas especiales y mucho
            más!!!
            <br>
            <br>
            Introduce tu número de teléfono y un comercial se pondrá en contecto contigo lo antes posible.
        </p>
        <br>
        <div class="grid p-fluid">

            <input type="text" pInputText placeholder="Pon aquí el número de teléfono al que quieres que te llamemos" />

            <textarea pInputTextarea rows="15" placeholder="Escribe aquí..." [autoResize]="autoResize"></textarea>

            <div class="p-inputgroup">
                <p-button label="Llámame!!">
                    <i class="pi pi-phone animate__animated animate__tada animate__infinite"
                        style="font-size: 2rem"></i>
                </p-button>
            </div>

        </div>

    </div>

    <h2>Ven a conocernos!!</h2>
    <div id="map-container">
        <div id="divMap"></div>
        <div id="direction-content">
            <h3>Contacto</h3>
            <hr>
            <p class="p-contact">
                Polígono Industrial La Rosa<br>
                Calle Río Tinto, nº6<br>
                29120 Alhaurín el Grande, Málaga<br>
            </p>

            <p class="p-contact">
                <i class="pi pi-whatsapp"></i>
                666666666
            </p>
            <p class="p-contact">
                <i class="pi pi-phone"></i>
                952666666
            </p>
            <p class="p-contact">
                <i class="pi pi-facebook"></i>
                <a href="https://www.facebook.com/maralahosteleria/" target="blank"> Facebook</a>
            </p>
            <p class="p-contact">
                <i class="pi pi-instagram"></i>
                <a href="https://www.instagram.com/maralahosteleria/" target="blank"> Instagram</a>
            </p>
            <p class="p-contact">
                <i class="pi pi-envelope"></i>
                comercial@maralahosteleria.com
            </p>
        </div>
    </div>


</div>