h1 {
  width: 500px;
  margin: 0 auto;
  height: 150px;
  line-height: 150px;
  font-size: 55px;
}

a {
  float: right;
  margin: 25px;
}

@media (max-width: 829px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    width: 100%;
  }

  header {
    padding-right: 25px;
  }
}

@media (max-width: 439px) {
  h1 {
    font-size: 35px;
  }

  header {
    padding-right: 0px;
  }
}

@media (max-width: 398px) {
  h1 {
    font-size: 25px;
  }
}
