h1 {
  width: 500px;
  margin: 0 auto;
  height: 150px;
  line-height: 150px;
  font-size: 55px;
}

header {
  padding-bottom: 25px;
}

#icon-go-back {
  float: left;
  margin: 25px;
}

#icon-user {
  float: right;
  margin: 25px;
}

img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

span img {
  width: 25px;
  height: 25px;
}




/***************           RESPONSIVE       ****************/

@media (max-width: 829px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    width: 100%;
    font-size: 30px;
  }

  header {
    padding-right: 25px;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 25px;
  }

  header {
    padding-right: 0px;
  }
}

@media (max-width: 355px) {
  h1 {
    font-size: 20px;
  }
}
