<div id="legal-info-container" class="animate__animated animate__fadeInLeft">
    <h2>{{'legal warning' | translate}}</h2>
    <ol>
        <li>
            <h4>{{'ol1_li1' | translate}}</h4>
            <p>{{'ol1_li1_p1' | translate}}</p>
            <ul>

                <li>{{'p2_use-conditions.component' | translate}}</li>

                <li>{{'p3_use-conditions.component' | translate}}</li>

                <li>{{'p4_use-conditions.component' | translate}}</li>

                <li>{{'p5_use-conditions.component' | translate}}</li>

                <li>{{'p6_use-conditions.component' | translate}}</li>

            </ul>
            <p>{{'ol1_li1_p2' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li2' | translate}}</h4>
            <p>{{'ol1_li2_p1' |translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li3' | translate}}</h4>
            <p>
                {{'ol1_li3_ol1_li1' | translate}}<br><br>

                {{'ol1_li3_ol1_li1_p' |translate}}
            </p>
            <p>
                {{'ol1_li3_ol1_li2' | translate}}<br><br>

                {{'ol1_li3_ol1_li2_p' |translate}}
            </p>
            <ul>
                <li>{{'ol1_li3_ol1_li2_ul1_li1' |translate}}</li>
                <li>{{'ol1_li3_ol1_li2_ul1_li2' |translate}}</li>
                <li>{{'ol1_li3_ol1_li2_ul1_li3' |translate}}</li>
            </ul>
            <p>
                {{'ol1_li3_ol1_li3' | translate}}<br><br>
                {{'ol1_li3_ol1_li3_p' |translate}}
            </p>
            <ul>
                <li>{{'ol1_li3_ol1_li3_ul1_li1' |translate}}</li>
                <li>{{'ol1_li3_ol1_li3_ul1_li2' |translate}}</li>
                <li>{{'ol1_li3_ol1_li3_ul1_li3' |translate}}</li>
                <li>{{'ol1_li3_ol1_li3_ul1_li4' |translate}}</li>
                <li>{{'ol1_li3_ol1_li3_ul1_li5' |translate}}</li>
                <li>{{'ol1_li3_ol1_li3_ul1_li6' |translate}}</li>
            </ul>
        </li>
        <li>
            <h4>{{'ol1_li4' | translate}}</h4>
            <p>{{'ol1_li4_p' | translate}}</p>

        </li>
        <li>
            <h4>{{'ol1_li5' | translate}}</h4>
            <p>{{'ol1_li5_p' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li6' | translate}}</h4>
            <p>{{'ol1_li6_p1' | translate}}</p>
            <ol>
                <li>{{'ol1_li6_ol1_li1' | translate}}</li>
                <li>{{'ol1_li6_ol1_li2' | translate}}</li>
                <li>{{'ol1_li6_ol1_li3' | translate}}</li>
                <li>{{'ol1_li6_ol1_li4' | translate}}</li>
                <li>{{'ol1_li6_ol1_li5' | translate}}</li>
            </ol>
            <p>{{'ol1_li6_p2' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li7' | translate}}</h4>
            <p>{{'ol1_li7_p' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li8' | translate}}</h4>
            <p>{{'ol1_li8_p' | translate}}.</p>
        </li>
        <li>
            <h4>{{'ol1_li9' | translate}}</h4>
            <p>{{'ol1_li9_p' | translate}}</p>
        </li>
        <li>
            <h4>{{'ol1_li10' | translate}}</h4>
            <p>{{'ol1_li10_p' | translate}}</p>
        </li>
    </ol>
</div>