<div class="pagos-container">
    <div class="background-image-pagos"></div>

    <div id="pagos-description">
        <p class="animate__animated animate__fadeInLeft" id="first-p">{{'pagos_p1' | translate}}</p>
        <p class="animate__animated animate__fadeInLeft" id="second-p">{{'pagos_p2' | translate}}</p>
    </div>

    <div class="products-pagos">
        <h2>Vinos Pagos del Rey</h2>
        <div id="cards-container">
            <p-card header="Vino tinto Viña Albali Gran Reserva" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-vina-albali-gran-reserva.jpg"
                    alt="imagen Viña Albali Gran Reserva">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Analivia Verdejo Selección" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-analivia-verdejo-seleccion.jpg"
                    alt="imagen Vino blanco Analivia Verdejo Selección">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino espumoso Prospero Moscato" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-pagos-prospero-moscato.jpg"
                    alt="imagen Vino espumoso Prospero Moscato">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Casa Albali Verdejo" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-pagos-casa-albali-verdejo-sauvignon-blanc.jpg"
                    alt="imagen Vino blanco Casa Albali Verdejo Sauvignon Blanc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>