<div class="pagos-container">
    <div class="background-image-pagos">
        <p class="animate__animated animate__fadeInLeft" id="first-p">
            El proyecto Pagos del Rey surgió con el objetivo de estar presente en las Denominaciones de Origen de más
            renombre de España, con vinos singulares y personalidad propia. La compañía cuenta con bodegas en las
            denominaciones: <b>Ribera del Duero, Rioja, Rueda y Toro</b>. Todas ellas cuentan con un diseño moderno,
            donde se
            conjuga tradición y modernidad, dotadas de la última tecnología en vinificación.
        </p>
        <p class="animate__animated animate__fadeInLeft" id="second-p">
            En nuestras bodegas se combinan las tradicionales técnicas de elaboración del vino, junto con las más
            modernas tecnologías de vinificación. Nuestros enólogos cuidan, con riguroso control, cada fase del proceso
            de elaboración de nuestros vinos.

            Asegurar la calidad y el buen vino de nuestras bodegas es la máxima prioridad en Felix Solis Avantis.
        </p>
    </div>

    <div class="hidden">
        <p class="animate__animated animate__fadeInLeft">
            El proyecto Pagos del Rey surgió con el objetivo de estar presente en las Denominaciones de Origen de más
            renombre de España, con vinos singulares y personalidad propia. La compañía cuenta con bodegas en las
            denominaciones: <b>Ribera del Duero, Rioja, Rueda y Toro</b>. Todas ellas cuentan con un diseño moderno,
            donde se
            conjuga tradición y modernidad, dotadas de la última tecnología en vinificación.
        </p>
    </div>

    <div class="products-pagos">
        <h2>Vinos Pagos del Rey</h2>
        <div id="cards-container">
            <p-card header="Vino tinto Viña Albali Gran Reserva" [style]="{background:'grey'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-vina-albali-gran-reserva.jpg"
                    alt="imagen Viña Albali Gran Reserva">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Analivia Verdejo Selección" [style]="{background:'grey'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-analivia-verdejo-seleccion.jpg"
                    alt="imagen Vino blanco Analivia Verdejo Selección">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino espumoso Prospero Moscato" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-pagos-prospero-moscato.jpg"
                    alt="imagen Vino espumoso Prospero Moscato">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Casa Albali Verdejo" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-pagos-casa-albali-verdejo-sauvignon-blanc.jpg"
                    alt="imagen Vino blanco Casa Albali Verdejo Sauvignon Blanc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>