<div class="barbadillo-container">
    <div class="background-image-barbadillo">
        <p class="animate__animated animate__fadeInLeft" id="barbadillo-text">{{'barbadillo_p' | translate}}</p>
    </div>

    <p class="animate__animated animate__fadeInLeft" id="hidden">{{'barbadillo_p' | translate}}</p>

    <div class="products-barbadillo">
        <h2>Vinos Barbadillo</h2>
        <div id="cards-container">
            <p-card header="Vino blanco Castillo de San Diego" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-castillo-san-diego.jpg"
                    alt="Vino blanco Barbadillo Castillo de San Diego">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino Tinto Barbadillo Gibalbin" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-gibalbin-barbadillo.jpg" alt="imagen gibalbin barbadillo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Verdejo Frizzante" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-verdejo-frizz.jpg"
                    alt="imagen Vino blanco Verdejo Frizzante">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino rosado Barbadillo" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-rosado.jpg" alt="imagen vino rosado barbadillo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>