<div class="barbadillo-container">
    <div class="background-image-barbadillo">
        <p class="animate__animated animate__fadeInLeft" id="barbadillo-text">
            Barbadillo es sur y es mar. Es Cádiz y es viento de poniente. Es
            Sanlúcar y es tradición. Es bodega centenaria y es futuro. Su historia se remonta a 1821, año en el que
            empezó a elaborar manzanilla. Desde entonces Barbadillo no ha dejado de evolucionar, buscando siempre vinos
            que sorprendan y dejen huella.

            Vinos únicos nacidos de la perfecta mezcla entre el alma de una tierra increíble, la albariza, y el corazón
            de nuestros enólogos. Expertos profesionales que ponen la sabiduría de una vida al servicio de la creación y
            la innovación.


            Con 500 hectáreas de viñedo propio, 16 bodegas de crianza en Sanlúcar de Barrameda y una planta de
            vinificación de uvas blancas y tintas, Bodegas Barbadillo es una de las mayores bodegas del Marco de Jerez.
        </p>
    </div>

    <p class="animate__animated animate__fadeInLeft" id="hidden">
        Barbadillo es sur y es mar. Es Cádiz y es viento de poniente. Es
        Sanlúcar y es tradición. Es bodega centenaria y es futuro. Su historia se remonta a 1821, año en el que
        empezó a elaborar manzanilla. Desde entonces Barbadillo no ha dejado de evolucionar, buscando siempre vinos
        que sorprendan y dejen huella.

        Vinos únicos nacidos de la perfecta mezcla entre el alma de una tierra increíble, la albariza, y el corazón
        de nuestros enólogos. Expertos profesionales que ponen la sabiduría de una vida al servicio de la creación y
        la innovación.


        Con 500 hectáreas de viñedo propio, 16 bodegas de crianza en Sanlúcar de Barrameda y una planta de
        vinificación de uvas blancas y tintas, Bodegas Barbadillo es una de las mayores bodegas del Marco de Jerez.
    </p>

    <div class="products-barbadillo">
        <h2>Vinos Barbadillo</h2>
        <div id="cards-container">
            <p-card header="Vino blanco Castillo de San Diego" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-castillo-san-diego.jpg"
                    alt="Vino blanco Barbadillo Castillo de San Diego">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino Tinto Barbadillo Gibalbin" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-gibalbin-barbadillo.jpg" alt="imagen gibalbin barbadillo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino blanco Verdejo Frizzante" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-verdejo-frizz.jpg"
                    alt="imagen Vino blanco Verdejo Frizzante">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino rosado Barbadillo" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-barbadillo-rosado.jpg" alt="imagen vino rosado barbadillo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>