#product-list-container {
  padding-left: 50px;
  padding-bottom: 50px;
  display: flex;
}

#panelMenu-container {
  visibility: hidden;
}

aside {
  margin-right: 50px;
  margin-top: 93px;
}

#product-list-content {
  flex-basis: 80%;
  flex-direction: column;
}

#search-product-container {
  text-align: center;
}


#search-product-container input {
  width: 450px;
  margin-right: 5px;
}

i {
  margin-right: 10px;
}

#products-found {
  text-align: center;
  margin-top: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: var(--surface-f);
  padding-left: 50px;
}

h2 {
  margin-top: 35px;
  margin-bottom: 35px;
}

#cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

p-card {
  flex-basis: 30%;
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
}


/*//////////////    RESPONSIVE     //////////*/

@media(max-width:1415px) {
  #products-found {
    width: 95%;
  }
}

@media(max-width:1365px) {

  aside {
    margin-right: 30px;
  }

  #product-list-container {
    padding-left: 25px;
  }
}

@media(max-width:1221px) {
  #products-found {
    padding-left: 20px;
  }
}

@media(max-width:1121px) {
  #products-found {
    padding-left: 5px;
  }
}

@media(max-width:1074px) {
  p-card {
    flex-basis: 45%;
  }
}

@media(max-width:832px) {
  #search-product-container input {
    width: 250px;
  }
}

@media(max-width:808px) {
  p-card {
    flex-basis: 100%;
  }
}

@media(max-width:632px) {
  #search-product-container input {
    width: 125px;
  }

  #products-found {
    padding-left: 0px;
  }
}

@media(max-width:579px) {
  #product-list-container {
    display: unset
  }

  #slideMenu-container {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #search-product-container input {
    width: 60%;
    margin-top: 50px;
  }

  #panelMenu-container {
    margin-bottom: 50px;
    margin: 0 auto;
  }

  aside {
    padding: 0;
    margin: 0;
  }

  #products-found {
    width: 100%;
    margin-bottom: 15px;
  }
}
