<div class="riska-container">
    <div class="background-image-riska">
        <p class="animate__animated animate__fadeInLeft" id="veganzones-text">
            La fundación de Licores Riska se remonta a 1952, cuando Antonio Rivillas Casado empieza a comercializar anís
            que él mismo destilaba en un alambique de cobre. Comienza así la historia de “Anís Flor de Jaén”. En 1958 se
            traslada la producción a su actual ubicación en lo que ahora es la Autovía de Andalucía, Km. 324 y se amplía
            la producción elaborando los licores de café y cacao. Es en estos años cuando nace la denominación “LICORES
            RISKA”.
        </p>

    </div>

    <div class="hidden">
        <p class="animate__animated animate__fadeInLeft">
            La fundación de Licores Riska se remonta a 1952, cuando Antonio Rivillas Casado empieza a comercializar anís
            que él mismo destilaba en un alambique de cobre. Comienza así la historia de “Anís Flor de Jaén”. En 1958 se
            traslada la producción a su actual ubicación en lo que ahora es la Autovía de Andalucía, Km. 324 y se amplía
            la producción elaborando los licores de café y cacao. Es en estos años cuando nace la denominación “LICORES
            RISKA”.
        </p>
    </div>

    <div class="products-riska">
        <h2>Licores Riska</h2>
        <div id="cards-container">
            <p-card header="Gin Premium 1952" [style]="{background:'white', color:'black', 'min-height':'550px'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-gin-premium-riska.jpg" alt="imagen Gin Premium 1952">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Licor de piruleta con alcohol"
                [style]="{background:'white', color:'black','min-height':'550px'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-licor-piruleta.jpg" alt="imagen Licor de piruleta con alcohol">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Licor Vodka Caramelo" [style]="{background:'white', color:'black','min-height':'550px'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-vodka-caramelo-riska.jpg"
                    alt="imagen Licor Vodka Caramelo Riska">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Orujo de hierbas" [style]="{background:'white', color:'black','min-height':'550px'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-orujo-hierbas-riska.jpg" alt="imagen Orujo de hierbas">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>