<div id="cookies-container" class="animate__animated animate__fadeInLeft">
    <ul>
        <li>
            <h3>{{'ul1_li1' | translate}}</h3>
            <p>
                <b>Marala Hostelería, S.L</b> {{'p1_cookies.component.html' | translate}}
            </p>
        </li>
        <li>
            <h3>{{'ul1_li2' | translate}}</h3>
            <p>{{'p2_cookies.component.html' | translate}}</p>
            <ul>
                <li>
                    <p>
                        <b>{{'ul2_li1_title' | translate}}</b> {{'ul2_li1_body' | translate}}
                    </p>
                </li>
                <li>
                    <p>
                        <b>{{'ul2_li2_title' |translate}}</b> {{'ul2_li2_body' |translate}}
                    </p>
                </li>
            </ul>
            <p>
                {{'p3_cookies.component.html' | translate}}
            </p>
        </li>
        <li>
            <h3>{{'ul1_li3' | translate}}</h3>
            <p>
                {{'p4' | translate}}
            </p>
            <ul>
                <li>
                    Google Chrome
                </li>
                <li>
                    Mozilla Firefox
                </li>
                <li>
                    Internet Explorer
                </li>
                <li>
                    Microsoft Edge
                </li>
                <li>
                    Safari
                </li>
                <li>
                    Opera
                </li>
            </ul>
            <p>
                {{'p5' | translate}}
            </p>
        </li>
        <li>
            <h3>{{'ul1_li4' | translate}}</h3>
            <p>
                {{'p6' | translate}}
            </p>
        </li>
    </ul>
</div>