<div class="alhambra-container">
    <div class="background-image-alhambra">
        <p class="animate__animated animate__fadeInLeft" id="first-p">En 1925, dos maestros cerveceros españoles hacen
            realidad un
            sueño: crear una cerveza inspirada en la ciudad
            nazarí, con el gusto y el carácter granadinos.

            Cautivados por el halo misterioso de La Alhambra, toman su nombre y crean <b>Cervezas Alhambra</b>, cervezas
            elaboradas
            con calma y pensadas para ser degustadas con los cinco sentidos.
        </p>
        <p class="animate__animated animate__fadeInLeft" id="second-p">
            En Cervezas Alhambra creemos que la vida se disfruta plenamente cuando le dedicamos el tiempo necesario a lo
            que
            nos rodea, convirtiendo cada momento en una experiencia singular para los sentidos. Solo así podremos
            descubrir
            los detalles que se esconden detrás de lo evidente.
        </p>
    </div>

    <div id="hidden">
        <p class="animate__animated animate__fadeInLeft">En 1925, dos maestros cerveceros españoles hacen
            realidad un
            sueño: crear una cerveza inspirada en la ciudad
            nazarí, con el gusto y el carácter granadinos.

            Cautivados por el halo misterioso de La Alhambra, toman su nombre y crean <b>Cervezas Alhambra</b>, cervezas
            elaboradas
            con calma y pensadas para ser degustadas con los cinco sentidos.
        </p>
    </div>

    <div class="products-alhambra">
        <h2>Cervezas Alhambra</h2>
        <div id="cards-container">
            <p-card header="Alhambra Lager Singular" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-alhambra-lager-singular.jpg"
                    alt="imagen Alhambra Lager Singular">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check" routerLink="../../pages/products/1">
                    </p-button>
                </ng-template>
            </p-card>

            <p-card header="Alhambra Reserva 1925" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-alhambra-verde.jpg" alt="imagen Alhambra Reserva 1925">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Alhambra Reserva Roja" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-alhambra-roja.jpg" alt="imagen Alhambra Reserva Roja">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Alhambra Lager Singular Sin Alcohol" [style]="{background:'grey'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-alhambra-sin-alcohol.jpeg" alt="imagen Alhambra Sin Alcohol">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>