#menubar-container {
  margin-bottom: 50px;
  width: 100%;
}

input {
  margin-right: 5px;
}

i {
  margin-right: 10px;
}




/*////////////       RESPONSIVE     //////////*/

@media(max-width: 550px) {
  input {
    width: 160px;
  }
}

@media(max-width: 470px) {
  input {
    visibility: hidden;
  }

  p-button {
    visibility: hidden;
  }
}
