<div class="alhambra-container">
    <div class="background-image-solan">
        <p class="animate__animated animate__fadeInLeft" id="first-p">{{'solan_p1' | translate}}</p>
        <p class="animate__animated animate__fadeInLeft" id="second-p">{{'solan_p2' | translate}}</p>
    </div>

    <div class="hidden">
        <p class="animate__animated animate__fadeInLeft">{{'solan_p1' | translate}}</p>
    </div>

    <div class="products-solan">
        <h2>Solán de Cabras</h2>
        <div id="cards-container">
            <p-card header="Solán de Cabras envase vidrio 50cl" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-solan-vidrio-50cl.jpg"
                    alt="imagen Solán de Cabras envase vidrio 50cl">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Solán de Cabras con gas 50cl" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-solan-gas-50cl.jpg"
                    alt="imagen Solán de Cabras envase vidrio 50cl">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Solán de Cabras sabor manzana" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-solan-manzana.jpg" alt="imagen Solán de Cabras sabor manzana">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Solán de Cabras DEFENCE. Pomelo rosa y azahar" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-solan-pomelo.png" alt="imagen Solán de Cabras DEFENCE">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>