<div id="carousel-container" class="animate__animated animate__fadeInLeft">
    <h2>{{'our associated brands' | translate}}</h2>
    <p-carousel [value]="images" [numVisible]="2" [responsiveOptions]="responsiveOptions" [numScroll]="1"
        [autoplayInterval]="2000" [circular]="true">
        <ng-template let-image pTemplate="item">
            <img src="{{image.path}}" alt="">
        </ng-template>
    </p-carousel>
</div>

<div id="categories-container" class="animate__animated animate__fadeInLeft">
    <h2>{{'categories' | translate}}</h2>
    <div id="cards-container">
        <p-card header="{{'alcoholic drinks' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-beer.svg" alt="icono cerveza">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>

        <p-card header="{{'drinks without alcohol' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-cola.svg" alt="icono refresco cola">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>

        <p-card header="{{'household' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-vajilla.svg" alt="icono productos de limpieza">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>

        <p-card header="{{'cleaning' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-cleaning.png" alt="icono productos de limpieza">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
        <p-card header="{{'feeding' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-olive-oil.svg" alt="icono productos de alimentación">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>

        <p-card header="{{'others' | translate}}" [style]="{background:'white', color:'black'}"
            styleClass="p-card-shadow">
            <img src="../../../assets/images/icon-others.svg" alt="icono otros">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque
                quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="{{'go to category' | translate}}" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>

    </div>
    <div id="form-container">

    </div>
</div>