<div id="product-detail-container">
    <div id="image-container">
        <img src="../../../../assets/images/product-alhambra-lager-singular.jpg" alt="imagen producto">
    </div>
    <div id="info-container">
        <div id="info-title">
            <h2>Alhambra Lager Singular</h2>
        </div>
        <div id="info-description">
            <p>Categoría: <b>Bebidas alcohólicas</b></p>
            <p>Sub-categoría: <b>Cervezas</b></p>
            <p>
                Cuidada e intensa, <b>Alhambra Lager Singular</b> sigue un proceso de fermentación lenta gracias al cual
                se
                consiguen sus matices únicos, ligeros y afrutados logrando un sabor tan singular como su nombre.
            </p>
        </div>
        <br>
        <br>
        <div id="info-footer">
            <h3>Precio: <a routerLink="../../../auth">Pincha aquí</a></h3>
        </div>
    </div>
</div>