<div class="alhambra-container">
    <div class="background-image-veganzones">
        <p class="animate__animated animate__fadeInRight" id="veganzones-text">{{'veganzones_p' |translate}}</p>

    </div>

    <div class="hidden">
        <p class="animate__animated animate__fadeInRight">{{'veganzones_p' |translate}}</p>
    </div>

    <div class="products-veganzones">
        <h2>Vinos Veganzones</h2>
        <div id="cards-container">
            <p-card header="Vino tinto 912 de altitud Tierra Caliza" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-altitud-912-caliza.jpg"
                    alt="imagen Vino tinto 912 de altitud Tierra Caliza">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino tinto 912 de altitud Tierra Arcillosa" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-altitud-912-arcillosa.jpg"
                    alt="imagen Vino tinto 912 de altitud Tierra Arcillosa">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino tinto Viejo Mundo Crianza" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-viejo-mundo-tempranillo.jpg"
                    alt="imagen Vino Viejo Mundo Crianza">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino Blanco Viejo Mundo Verdejo" [style]="{background:'white', color:'black'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-viejo-mundo-verdejo.jpg"
                    alt="imagen Vino Blanco Viejo Mundo Verdejo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="{{'go to product' | translate}}" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>