<div class="alhambra-container">
    <div class="background-image-veganzones">
        <p class="animate__animated animate__fadeInRight" id="veganzones-text">
            Bodegas Veganzones elabora vinos Denominación de Origen Ribera del Duero y D. O. Rueda en su bodega situada
            en Fompedraza, localidad muy próxima a Peñafiel (Valladolid), cuna de la Ribera del Duero.
            En nuestra bodega producimos nuestros vinos tintos Ribera del Duero, que son el resultado de la vendimia y
            la selección manual de las mejores uvas procedentes de viticultura tradicional y el uso en bodega de la
            tecnología más innovadora para la elaboración de sus marcas de vino Ribera del Duero 912 de altitud y Viejo
            Mundo. El resultado son unos vinos de calidad, reconocidos en el mercado internacional gracias a los premios
            obtenidos en el Concurso Mundial de Bruselas, los Premios Decanter y Decanter Asia y los Premios Envero para
            vinos D.O. Ribera del Duero.
        </p>

    </div>

    <div class="hidden">
        <p class="animate__animated animate__fadeInRight">
            Bodegas Veganzones elabora vinos Denominación de Origen Ribera del Duero y D. O. Rueda en su bodega situada
            en Fompedraza, localidad muy próxima a Peñafiel (Valladolid), cuna de la Ribera del Duero.
            En nuestra bodega producimos nuestros vinos tintos Ribera del Duero, que son el resultado de la vendimia y
            la selección manual de las mejores uvas procedentes de viticultura tradicional y el uso en bodega de la
            tecnología más innovadora para la elaboración de sus marcas de vino Ribera del Duero 912 de altitud y Viejo
            Mundo. El resultado son unos vinos de calidad, reconocidos en el mercado internacional gracias a los premios
            obtenidos en el Concurso Mundial de Bruselas, los Premios Decanter y Decanter Asia y los Premios Envero para
            vinos D.O. Ribera del Duero.
        </p>
    </div>

    <div class="products-veganzones">
        <h2>Vinos Veganzones</h2>
        <div id="cards-container">
            <p-card header="Vino tinto 912 de altitud Tierra Caliza" [style]="{background:'grey'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-altitud-912-caliza.jpg"
                    alt="imagen Vino tinto 912 de altitud Tierra Caliza">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino tinto 912 de altitud Tierra Arcillosa" [style]="{background:'grey'}"
                styleClass="p-card-shadow">
                <img src="../../../assets/images/product-altitud-912-arcillosa.jpg"
                    alt="imagen Vino tinto 912 de altitud Tierra Arcillosa">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino tinto Viejo Mundo Crianza" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-viejo-mundo-tempranillo.jpg"
                    alt="imagen Vino Viejo Mundo Crianza">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
            <p-card header="Vino Blanco Viejo Mundo Verdejo" [style]="{background:'grey'}" styleClass="p-card-shadow">
                <img src="../../../assets/images/product-viejo-mundo-verdejo.jpg"
                    alt="imagen Vino Blanco Viejo Mundo Verdejo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque
                    quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ir al producto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>