<div id="legal-info-container" class="animate__animated animate__fadeInLeft">
    <h2>{{'header_use-conditions.component' | translate}}</h2>
    <p>
        {{'p1_use-conditions.component' | translate}}<br>

        {{'p2_use-conditions.component' | translate}}<br><br>

        {{'p3_use-conditions.component' | translate}}<br><br>

        {{'p4_use-conditions.component' | translate}}<br><br>

        {{'p5_use-conditions.component' | translate}}<br><br>

        {{'p6_use-conditions.component' | translate}}<br><br>

        {{'p7_use-conditions.component' | translate}}


    </p>
</div>