<div id="legal-info-container" class="animate__animated animate__fadeInLeft">
    <h2>Condiciones de uso de los sitios web y contenidos</h2>
    <p>
        INFORMACIÓN GENERAL

        Los términos y condiciones que se indican a continuación (en adelante, “Condiciones Generales”), regulan el
        acceso, registro, navegación, descarga y el uso de/a todas y cada una de las páginas web localizables bajo el
        dominio http://www.marala.com/es y sus respectivos subdominios y subdirectorios (en adelante, «Sitio
        Web» o “Sitios Web”) siendo estos dominios propiedad de Marala, S.A. Estas Condiciones Generales regulan
        asimismo
        el acceso, descarga y uso de cualquier otra información, texto, gráficos, fotos, imágenes, música, sonidos,
        aplicaciones informáticas o cuentas en cualesquiera plataformas sociales que sean creadas, diseñadas,
        promocionadas o difundidas por Marala, S.A. y a las que se pueda acceder desde el Sitio Web o desde cualquier
        otra página web o aplicación informática (en adelante, “Contenidos”).<br>

        En cumplimiento de lo dispuesto en el artículo 10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad
        de la información y de comercio electrónico, Marala, S.A. (en adelante, la “COMPAÑÍA”) pone a disposición de sus
        usuarios la siguiente información registral del titular del Sitio Web y/o Contenidos:<br><br>

        Denominación social: Marala Hostelería, S.L.<br><br>

        Número de identificación Fiscal: B02770667<br><br>

        Datos Mercantiles: Inscrita en el Registro Mercantil de Málaga, al Tomo 5982, Libro 4889, Folio 173, Sección
        8,
        Hoja MA-157919, I/A 1<br><br>

        Domicilio social: Polígono Industrial La Rosa Calle Río Tinto nº 6 29120 Alhaurin El Grande Málaga<br><br>

        Contacto: pueden ponerse en contacto con la COMPAÑÍA mediante correo ordinario a la dirección del domicilio
        social o a la del departamento de asesoría jurídica de la COMPAÑÍA o bien a través
        de la siguiente dirección de correo electrónico: marala@marala.es.<br><br>

        POR EL HECHO DE ACCEDER, VER O UTILIZAR LOS MATERIALES O SERVICIOS ACCESIBLES EN O A TRAVÉS DEL “SITIO WEB” O A
        LOS “CONTENIDOS” ACCESIBLES EN O A TRAVÉS DEL “SITIO WEB” U OTRAS PÁGINAS WEB O APLICACIONES INFORMÁTICAS, EL
        USUARIO PONE DE MANIFIESTO QUE COMPRENDE Y ACEPTA ESTAS “CONDICIONES GENERALES” COMO EQUIVALENTE LEGAL DE UN
        DOCUMENTO FIRMADO POR ESCRITO Y VINCULANTE.<br>

        CONDICIONES GENERALES DE USO DEL “SITIO WEB” Y DE LOS “CONTENIDOS”<br>

        El acceso y el uso del Sitio Web de la COMPAÑÍA así como el acceso y uso de los Contenidos quedarán sujetos a
        las presentes Condiciones Generales. La utilización de cualquier página web titularidad de la COMPAÑÍA o de los
        Contenidos atribuye la condición de usuario y supone la aceptación plena y sin reservas por el usuario de todas
        las Condiciones Generales vigentes en cada momento en que el usuario acceda al mismo. La COMPAÑÍA se reserva el
        derecho a modificar en cualquier momento las presentes Condiciones Generales. Le sugerimos que revise estas
        Condiciones Generales frecuentemente para estar al corriente de su alcance y de cualquier modificación que se
        haya llevado a cabo. Al acceder a los Sitios Web y/o a los Contenidos titularidad de la COMPAÑÍA con
        posterioridad a la publicación del aviso de dichas modificaciones, alteraciones o actualizaciones, estará
        aceptando cumplir con los nuevos términos. El usuario es consciente de que el acceso y utilización del Sitio Web
        y/o los Contenidos se realiza bajo su única y exclusiva responsabilidad.<br>

        Algunos servicios de los Sitios Web de la COMPAÑÍA y/o algunos Contenidos pueden estar sometidos a condiciones
        particulares, reglamentos e instrucciones que, en su caso, sustituyen, completan y/o modifican los presentes
        términos y condiciones (en adelante, “Condiciones Particulares”), y que deberán ser aceptados por el usuario
        antes de realizarse la prestación del servicio correspondiente. La prestación del servicio a solicitud del
        usuario, implica la aceptación expresa de las Condiciones Particulares que fueran de aplicación.<br>

        Dentro de la expresión «Sitio Web» se comprenden, con carácter enunciativo pero no limitativo todos los
        contenidos, los datos, gráficos, textos, logos, marcas, software, imágenes, animaciones, creaciones musicales,
        vídeos, sonidos, dibujos, fotografías, expresiones e informaciones y otros incluidos en el mismo, y, en general,
        todas las creaciones expresadas por cualquier medio o soporte, tangible o intangible con independencia de que
        sean susceptibles o no de propiedad intelectual de acuerdo al Texto Refundido de la Ley de Propiedad Intelectual
        española.<br>

        El usuario utilizará los servicios y materiales disponibles en el Sitio Web así como los Contenidos
        exclusivamente para fines particulares, con exclusión de cualquier modalidad de utilización distinta a esta, y
        con exclusión específica a cualquier utilización con ánimo de lucro o que reporte beneficio, directo o indirecto
        al usuario o a terceros.<br>

        Las presentes Condiciones Generales así como las Condiciones Particulares (entre las que se encuentran las Bases
        de Promociones Especiales, Bases de Concursos, “Porras”, Reglas particulares para algunos servicios, etc.) que
        puedan aplicarse previo aviso en casos concretos, son aceptadas expresamente y sin reservas por el usuario por
        el mero hecho de acceder al Sitio Web, utilizar de cualquier forma los materiales y servicios del Sitio Web y/o
        acceder o utilizar de cualquier forma los Contenidos y/o participación en promociones o concursos. Cuando el
        acceso y la utilización de ciertos materiales y/o servicios del Sitio Web y/o de los Contenidos se encuentre
        sometido a Condiciones Particulares, estas Condiciones Particulares serán previamente puestos en conocimiento
        del usuario, y según los casos, sustituirán, completarán y/o modificarán las Condiciones Generales aquí
        recogidas. El acceso y la utilización de dichos materiales o servicios sujetos a Condiciones Particulares
        implicará, por consiguiente, la plena adhesión a las Condiciones Particulares que los regula en la versión
        publicada en el momento que el usuario acceda a los mismos, quedando dichas Condiciones Particulares
        incorporadas automáticamente a las presentes Condiciones Generales.<br>

        En caso de contradicción entre los términos y condiciones manifestados en estas Condiciones Generales y las
        Condiciones Particulares, prevalecerán siempre y en todo caso, los términos acordados en las Condiciones
        Particulares aunque únicamente en lo que respecta a las disposiciones incompatibles y tan sólo respecto de
        aquellos materiales o servicios del Sitio Web y/o de los Contenidos sometidos a dicha específica regulación. La
        COMPAÑÍA podrá modificar de forma unilateral y sin aviso previo, la prestación, configuración, contenido y
        servicios del Sitio Web y de los Contenidos, así como sus Condiciones Generales. Si estas Condiciones Generales
        fueran sustituidas por otras en todo o en parte, dichas nuevas condiciones generales o en su caso las
        particulares, se entenderán aceptadas de forma idéntica a la expuesta. No obstante, el usuario del Sitio Web y/o
        de los Contenidos deberá acceder a estas Condiciones Generales y a las Condiciones Particulares de los servicios
        del Sitio Web y/o de los Contenidos que utilice, de forma periódica para tener conocimiento de la actualización
        de las mismas, si la hubiera.<br>

        En caso de que el usuario no acepte estas Condiciones Generales o, las Condiciones Particulares, el usuario
        deberá abstenerse de acceder al Sitio Web y/o a los Contenidos o, en caso de haber accedido, abandonarlos.<br>

        El usuario deberá establecer las medidas de seguridad de carácter técnico adecuadas para evitar acciones no
        deseadas en su sistema de información, archivos y equipos informáticos empleados para acceder a Internet y, en
        especial, al Sitio Web y/o los Contenidos, siendo consciente de que Internet no es un medio totalmente seguro.
        El coste del acceso telefónico u otro tipo de gasto necesarios para acceder al Sitio Web y/o los Contenidos
        correrá exclusivamente a cargo del usuario.<br>

        Con carácter general, los servicios y materiales ofrecidos a través del Sitio Web y/o los Contenidos estarán
        disponibles en español, pudiendo la COMPAÑÍA discrecionalmente presentar dichos servicios y materiales
        adicionalmente en otros idiomas.


    </p>
</div>