/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: var(--surface-b);
  color: var(--primary-color-text);
}

* {
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color-text);
}

img:hover {
  cursor: pointer;
}
